$color-cju-def: #0a33cc;
$color-cju-dark: #00248c;
$color-cju-darker: #001466;

$color-gradient-generic-0: #625ec2;
$color-gradient-generic-1: #c55cb6;
$color-gradient-generic-2: #ff6997;
$color-gradient-generic-3: #ff9174;
$color-gradient-generic-4: #ffc45f;
$color-gradient-generic-5: #f9f871;

$color-gradient-matching-0: #625ec2;
$color-gradient-matching-1: #0073cf;
$color-gradient-matching-2: #0082c8;
$color-gradient-matching-3: #008cb3;
$color-gradient-matching-4: #009396;
$color-gradient-matching-5: #009779;

$color-abs-blue-0: #0d65d9;
$color-abs-blue-1: #1e6fd9;
$color-abs-blue-2: #5c9df2;
$color-abs-blue-3: #94bdf2;
$color-abs-blue-4: #f2f2f2;

$color-bright-blue-0: #86faf2;
$color-bright-blue-1: #30e7ed;
$color-bright-blue-2: #00a6d7;
$color-bright-blue-3: #0058b3;
$color-bright-blue-4: #001b87;
